<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>
<body style="background-color:powderblue;">
<center><h1>SQL DATABASE</h1></center>
<div class="form">
        <form action="/sqlTemplates/downloadSqlData" method="POST">
            <center>
                <br><br><br><br><br><br><br><br>
            <label>DataBase:</label>
            <input type="text" name="dbName" id="dbName" style="margin-left:90px;"><br><br>
            <label for="TableName">TableName:</label>
            <input type="text" name="tableName" id="tableName" style="margin-left:80px;"><br><br>
                <label>File Name:</label>
            <input type="text" name="fileName" id="fileName" style="margin-left:80px;"><br><br>
            <input type="submit" style="margin-left:100px;" value="Submit">
                <center/>
        </form>
    </div>
</body>
</html>