<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>
<body style="background-color:powderblue;"></body>
<center><h1>SQL DATABASE</h1></center>
<div class="form">
        <form action="/sqlTemplates/sql_createDB" method="POST">
            <center>
                <br><br><br><br><br><br><br><br>
            <label>Enter Database Name</label>
            <input type="text" name="dbName" id="dbName">
            <input type="submit" value="Submit">
            </center>
        </form>
    </div>
</html>