<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>
<body style="background-color:powderblue;"></body>
<center><h1>SQL DATABASE</h1></center>

<div class="form">
        <form  method="POST">
            <center>
                <br><br><br><br><br><br><br><br>
<!--            <label for="operation">Here Is Your Option...  </label><br><br>-->
            <input type="submit" value="Create DataBase" formaction="/sqlTemplates/sql_pg2.html">
            <input type="submit" value="Show DataBase" formaction="/sqlTemplates/sql_showDB">
            <input type="submit" value="Create Table" formaction="/sqlTemplates/createTable.html">
            <input type="submit" value="Only 1 Insertion" formaction="/sqlTemplates/onlyOneInsertion.html">
            <input type="submit" value="Bulk Insertion" formaction="/sqlTemplates/bulkInsertion.html">
            <input type="submit" value="Download Data" formaction="/sqlTemplates/downloadSql.html">
                </center>
        </form>
    </div>
</html>