<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>
<body style="background-color:powderblue;"></body>
<center><h1>Choose Any DATABASE</h1></center>
<div>

        <form method="POST">
            <center>
                <br><br><br><br><br><br><br><br>

            <input type="submit" value="SQL" formaction="/sqlTemplates/sqlLoginPg.html">
            <input type="submit" value="CASSANDRA" formaction="/cassandraTemplates/cassandraConnectivityPg1.html">
            <input type="submit" value="MONGO" formaction="/mongoTemplates/mongoLogin.html">
                </center>
        </form>
    </div>

</html>