<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>
<body style="background-color:powderblue;"></body>
    <center><h1>MONGO DATABASE</h1></center>

<div class="form">
        <form  method="POST">
            <center>
                <br><br><br><br><br><br><br><br>

            <input type="submit" value="Create DataBase" formaction="/mongoTemplates/createMongoDB.html">
            <input type="submit" value="Show DataBase" formaction="/mongoTemplates/mongo_showDB">
            <input type="submit" value="Insertion" formaction="/mongoTemplates/insertDataMongoDB.html">
            <input type="submit" value="Download Data" formaction="/mongoTemplates/downloadMongoData.html">
                </center>
        </form>
    </div>
</html>