<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
</head>

<body style="background-color:powderblue;"></body>
<center><h1>CASSANDRA DATABASE "</h1></center>

<div class="form">
        <form action="/cassandraTemplates/connectivityPg" method="POST">
            <center>
                <br><br><br><br><br><br><br><br>
                <label>Enter CLIENT ID of DataStrax Astra :</label>
            <textarea class="scrollabletextbox" name="clientId"></textarea><br><br>
                <label>Enter CLIENT SECRET of DataStrax Astra :</label>
            <textarea class="scrollabletextbox" name="clientSecret"></textarea><br><br>
                <label>Path of SECURE CONNECT BUNDLE Zip file :</label>
            <textarea class="scrollabletextbox" name="zipPath"></textarea><br><br>
            <input type="submit" value="Submit">
                </center>
        </form>
    </div>
</html>