<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATABASE API</title>
    <body style="background-color:powderblue;"></body>
</head>
    <center><h1>CASSANDRA DATABASE</h1></center>

<div class="form">
        <form  method="POST">
            <center>
                <br><br><br><br><br><br><br><br>

            <input type="submit" value="Create DataBase" formaction="/cassandraTemplates/cassandraCreateTable.html">
            <input type="submit" value="Show DataBase" formaction="/cassandraTemplates/cassandra_showDB">
            <input type="submit" value="Insertion" formaction="/cassandraTemplates/cassandraInsertionPg3.html">
            <input type="submit" value="Bulk Insertion" formaction="/cassandraTemplates/cassandraInsertionPg4.html">
            <input type="submit" value="Download Data" formaction="/cassandraTemplates/downloadCassandraData.html">
                </center>
        </form>
    </div>
</html>